body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(52, 47, 47);
}

.container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.outerCircle{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: rgb(52, 47, 47);
    border-radius: 50%;
    box-shadow: 0px 0px 34px 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.outerCircle::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(52, 47, 47);
    border: 2px solid white;
    border-radius: 50%;
}

.outerCircle span{
    position: absolute;
    inset: 20px;
    color: aliceblue;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
}

.outerCircle span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));

}