body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(52, 47, 47);
}

.container{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}

.DayCircle{
    position: relative;
    width: 550px;
    height: 550px;
    background-color: rgb(52, 47, 47);
    border-radius: 50%;
    box-shadow: 0px 0px 34px 5px aqua;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: rotate(218deg);
}

.timeCircle::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(52, 47, 47);
    border: 2px solid white;
    border-radius: 50%;
    z-index: 10000;

}

.DayCircle span{
    position: absolute;
    inset: 20px;
    color: aliceblue;
    text-align: center;
    transform: rotate(calc(34deg * var(--i)));  
}

.DayCircle span b{
    display: inline-block;
}

.timeCircle{
    position: relative;
    width: 450px;
    height: 450px;
    background-color: rgb(52, 47, 47);
    border-radius: 50%;
    box-shadow: 0px 0px 11px 1px currentColor;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: rotate(142deg);
}

.timeCircle span{
    position: absolute;
    inset: 20px;
    color: aliceblue;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));  
}

.timeCircle span b{
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));  
}

.neonText{
    color: red;
    text-shadow: 0px 0px 20px red;
}

.circle{
    position:absolute;
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 10;
}

.circle i{
    position: absolute;
    width: 6px;
    height: 50%;
    background: var(--clr);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    left: 49%;
    opacity: 0.75;
    transform-origin: bottom;
    transform: scale(0.5);
}

.circle:nth-child(1) i{
    width: 2px;
}

.circle:nth-child(2) i{
    width: 6px;
}

.circle2{
    width: 300px;
    height: 300px;
    z-index: 9;
}

.circle3{
    width: 250px;
    height: 250px;
    z-index: 8;
}

.circle::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 48%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
    background: var(--clr);
}

.freeCircle{
    position: relative;
    width: 650px;
    height: 650px;
    background-color: rgb(52, 47, 47);
    border-radius: 50%;
    box-shadow: 0px 0px 11px 1px currentColor;
    justify-content: center;
    align-items: center;
    display: flex; 
}
